:root {
    --navy: #0F172A;
    --dark-blue: #1E293B;
    --cyan: #00D4FF;
    --white: #FFFFFF;
    --glass: #ffffff0d;
    --navy-bg: #0F172A; /* Le bleu très sombre de votre image */
    --slide-width: 350px; /* Largeur d'une image */
    --slide-gap: 30px;    /* Espace entre les images */
    --total-slides: 5;    /* Nombre d'images réelles */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--navy);
    color: var(--white);
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

.container {
    flex: 1;
    margin: 0 auto;
    padding: 40px 20px;
    overflow: hidden;
}
.container h1 {
    padding: 20px;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar nav {
    display: flex;
    gap: 30px;
}

.navbar nav a {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
}

.navbar nav a:hover {
    color: var(--cyan);
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -1px;
}

.logo span {
    color: var(--cyan);
}


.btn-member {
    display: flex;
    align-items: center;
    gap: 5px;
    background: transparent;
    border: 1px solid var(--cyan);
    color: var(--cyan);
    padding: 8px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-member:hover {
    background: var(--cyan);
    color: var(--navy);
}

.btn-member img {
    color: var(--white);

}

/* RECHERCHE */
.Recherche {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100vw; 
    overflow: hidden; 
}
.Recherche_container {
    display: flex;
    flex-direction: column;
    flex: 1; 
    padding: 20px;
    gap: 5px;
}
.Recherche_container .btn-recherche {
    align-self:center;
}

.Recherche_container h3 {
    margin-top: 70px;
}

.lieu_depart input{
    width: 100%;
    background-color: var(--glass);
    padding: 20px;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: none;
    border-top: 5px solid var(--white);
    color: var(--white);
    font-weight: 600;
}
.lieu_arrivee input {
    width: 100%;
    background-color: var(--glass);
    padding: 20px;
    border-radius: 10px 10px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: none;
    border-bottom: 5px solid var(--white);
    color: var(--white);
    font-weight: 600;
}
.lieu_arrivee input::placeholder, .lieu_depart input::placeholder {
    color: var(--white);
    opacity: 0.7;
}

.lieu_arrivee { position: relative; }
.lieu_arrivee button {
    position: absolute;
    right: 20px;
    top: -30px; 
    width: 60px;
    height: 60px;
    background-color: var(--cyan);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    }

.lieu_arrivee button:hover {
    transform: scale(1.1);
}

.date {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    max-width: 600px;
    width: 100%;
    gap: 5px;
}

.date input {
    background-color: var(--glass);
    padding: 20px;
    border-radius: 20px;
    border: none;
    color: var(--white);
    font-weight: 600;
    outline: none; 
}

.date input:focus {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 0 2px var(--cyan); 
    transition: all 0.3s ease;
}

.image {
    flex: 1; 
    display: flex;
    justify-content: flex-end; 
}

.image img {
    height: 700px; 
    transform: translateX(100px); 
    filter: drop-shadow(-20px 0 30px rgba(0,0,0,0.3)); 
    pointer-events: none; 
}

/* NOMBRE DE PERSONNE */
.nbr_personne {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    background-color: var(--glass);
    padding: 20px;
    border-radius: 20px;
    max-width: 150px;
}
.nbr_personne img{
    width: 1.5rem;
}
.nbr_personne span {
    font-size: 1.5rem;
}


#container-voyageurs {
    margin-top: 15px;
    max-height: 300px;
    overflow-y: auto; /* Pour faire défiler s'il y a beaucoup de voyageurs */
}

.voyageur-card {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.voyageur-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
    color: #005b96;
}

.voyageur-body input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.adherent-section p {
    font-size: 0.9em;
    margin: 5px 0;
    color: #0F172A;
}

.radio-group{
    display: flex;
    flex-direction: column;
}
.radio-group input{
    width: 10%;
}
.radio-group label {
    margin-right: 15px;
    font-size: 0.85em;
    color: #0F172A;
}

.btn-delete {
    background: none;
    border: none;
    cursor: pointer;
    color: #d9534f;
}



.btn-recherche {
    margin-top: 30px;
    background-color: var(--transparent);
    color: var(--cyan);
    border: 1px solid var(--cyan);
    padding: 15px 30px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    max-width: 200px;
}
.btn-recherche:hover {
    background-color: var(--cyan);
    color: var(--navy);
}