<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>europe.transports | Réservation TGV</title>
    <link rel="stylesheet" href="../css/recherche.css">
</head>

<body>

    <header class="navbar">
        <div class="logo">europe<span>.transports</span></div>
        <nav>
            <a href="dashboard.html">Voyager</a>
            <a href="#">Billets</a>
            <a href="#">Compte</a>
            <a href="#">Contact</a>
        </nav>
        <button class="btn-member"><img src="img/Member.svg" alt="">Espace Adhérent</button>
    </header>

    <main class="container">
        <section class="Recherche">
            <div class="Recherche_container">
                <h1 class="Titre_principal">Rechercher une destination</h1>

                <div class="lieu_depart input-wrapper">
                    <input type="text" id="lieu_depart" placeholder="Lieu de départ" autocomplete="off">
                    <div id="suggestions-depart" class="suggestions-box"></div>
                </div>
                <div class="lieu_arrivee input-wrapper">
                    <input type="text" id="lieu_arrivee" placeholder="Lieu d'arrivée" autocomplete="off">
                    <button id="btn_reverse"><img src="img/deuxFleche.svg" alt=""></button>
                    <div id="suggestions-arrivee" class="suggestions-box"></div>
                </div>
                <div class="date">
                    <input type="date" id="date_depart">
                    <input type="date" id="date_retour">
                </div>
                <h3>Combien de personne ?</h3>
                <div class="nbr_personne" id="btn-ajouter-voyageur" style="cursor: pointer;">
                    <img src="img/Member.svg" alt="">
                    <span id="compteur-voyageurs">0</span>
                    <img src="img/plus.svg" alt="">
                </div>
                <div id="container-voyageurs"></div>
                <button class="btn-recherche" onclick="rechercher()">Voir les trajets</button>
            </div>
            <div class="image">
                <img src="img/Montagne.svg" alt="">
            </div>
        </section>
    </main>
</body>
<script src="../js/nbr_passenger.js"></script>
<script src="../js/reverse_place.js"></script>
<script src="../js/recherche.js"></script>
</html>