<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>europe.transports | Réservation TGV</title>
    <link rel="stylesheet" href="../css/recherche.css">
</head>

<body>

    <header class="navbar">
        <div class="logo">europe<span>.transports</span></div>
        <nav>
            <a href="dashboard.html">Voyager</a>
            <a href="#">Billets</a>
            <a href="#">Compte</a>
            <a href="#">Contact</a>
        </nav>
        <button class="btn-member"><img src="img/Member.svg" alt="">Espace Adhérent</button>
    </header>

    <main class="container">
        <h1 class="Titre_principal">Rechercher une destination</h1>
        <section class="Recherche">
            <div class="Recherche_container">
                <div class="lieu_depart">
                    <input type="text" id="lieu_depart" placeholder="Lieu de départ">
                </div>
                <div class="lieu_arrivee">
                    <input type="text" id="lieu_arrivee" placeholder="Lieu d'arrivée">
                    <button><img src="img/deuxFleche.svg" alt=""></button>
                </div>
                <div class="date">
                    <input type="date" id="date_depart">
                    <input type="date" id="date_retour">
                </div>
            </div>
            <div class="image">
                <img src="img/Montagne.svg" alt="">
            </div>
        </section>
    </main>
</body>

</html>