<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>europe.transports | Choix du trajet</title>
    <link rel="stylesheet" href="../css/trajets.css">
</head>
<body>

    <header class="navbar">
        <div class="logo"><img src="img/Logo.svg" alt=""></div>
        <nav>
            <a href="dashboard.html">Voyager</a>
            <a href="#">Billets</a>
            <a href="#">Compte</a>
            <a href="#">Contact</a>
        </nav>
        <button class="btn-member"><img src="img/Member.svg" alt="">Espace Adhérent</button>
    </header>

    <main class="container">
        <h1 class="Titre_principal">Trajets disponibles</h1>

        <div class="calendar-grid">
            <div class="day active"><span>Mer. 11 fév.</span><p>45€</p></div>
            <div class="day"><span>Jeu. 12 fév.</span><p>39€</p></div>
            <div class="day"><span>Ven. 13 fév.</span><p>55€</p></div>
            <div class="day"><span>Sam. 14 fév.</span><p>42€</p></div>
            <div class="day"><span>Dim. 15 fév.</span><p>49€</p></div>
        </div>

        <div class="trajets-list" id="trajets-container">
        </div>
    </main>

    <script src="../js/trajets_fetch.js"></script>
</body>
</html>